.datapicker {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.grid-calendar {
    display: grid;
    grid-template-columns: repeat(7, 50px);
}

.year-month {
    display: flex;
    width: 350px;
    height: 40px;
    background-color: #dce0e0;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.abbreviations {
    color: #696969;
    background-color: #dce0e0;
    border-bottom: 3px solid black;
}

.grid-day-dimmed {
    color: #696969;
}

.bt {
    justify-content: start;
}